@use 'variables/variables';
@use 'variables/banners';
@use 'variables/cards';
@use 'variables/form';
@use 'sass:color';


$primary: #FFC920;

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body{
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background-color: $primary;
  background-image: url('/medias/map.jpg');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  }

@media print{
  *{
    font-size: 8px;
  }
  body{
    margin: 0;
    color: #000;
  }
  h1, .btn, .btn__add{
    display: none;
  }
}