@use 'variables/variables';
@use 'variables/banners';
@use 'variables/cards';
@use 'variables/form';
@use 'sass:color';


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body{
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background-color: variables.$primary;
  background-image: url('/medias/map.jpg');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  }

