.unit{
    .form-control{
        padding: .200rem .200rem;
        width: 75%;
        align-items: center;
        justify-content: center;
        :first-of-type{
            border:2px red solid;
        }
     }
}
