@use 'variables/variables';
@use 'sass:color';

.unit{
    .form-control{
        padding: .200rem .200rem;
        width: 100%;
        align-items: center;
        justify-content: center;
     }
     
}

.btn__add{
    cursor: pointer;
    margin: 2px;
    transition: all 100ms ease-in;
    &:hover{
        transform: scale(1.25);
    }
}

th:nth-child(9){
    border: 3px color.invert(variables.$evil) solid !important;
 }

 th:nth-child(10){
    border: 3px color.invert(variables.$evil) solid !important;
 }

 th:nth-child(11){
    border: 3px color.invert(variables.$evil) solid !important;
 }